dotenv_if_exists
source_env_if_exists .envrc.local

use_secret_profile pzzld

# -------- [RUST] ---------
export CARGO_TERM_COLOR=always
export RUST_BACKTRACE=full
export RUST_LOG="info"
export RUSTC_WRAPPER=sccache
